 /*common shared styles*/
 body{
    font-family: 'lato', sans-serif;
    font-family: 'open Sans', sans-serif;
 }
 .text-primary{
    color: #FD6E0A;
 }
 .btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
 }
 /*navigation style*/
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}